  .header-lg-md-image {
    background: url('http://placekitten.com/600/1000') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
  }

  .header-sm-bg {
    background: url('http://placekitten.com/600/1000') no-repeat center center fixed;
    background-size: cover;
  }